/*REGISTRATION AND LOGIN PAGE*/



h1{
text-align: center;
}

body {
    background-color: blueviolet;
}

.register {
   background: #fff; 
   margin: 8% auto;
   position: relative;
}
.input-field {
 display: block;   
 margin: 0 auto;   
 height: 75px;
 width: 250px;
 border-radius: 25px;
 font-size: xx-large;
 text-align: center;
}

::placeholder {
text-align: center;
font-size: xx-large;
}

.btn-register, .btn-login , .lnk-login{
    display: block;
    margin: 0 auto;
    font-size: xx-large;
    border-radius: 10px;
    cursor: pointer;
}

.btn-box{
    width: 100%;
    margin: 30px auto;
    text-align: center;
}

form button {
    width: 110px;
    height: 35px;
    margin: 0 10px;
    background: linear-gradient(to right,#ff105f,#ffad06);
    border-radius: 30px;
    border: 0;
    outline: none;
    color:#fff;
    cursor: pointer;
}

#form2{
    left: 450px;
}

.step-row{
    width: 36px;
    height: 40px;
    margin: 0 auto;
    display:flex;
    align-items: center;
    box-shadow: 0 -1px 5px -1px #000;
    position: relative;
}

.step-col{
    width: 120px;
    text-align: center;
    color: #333;
    position: relative;
}


#image {
    display: block;   
    position: relative;
    bottom: 55px;
    left: 830px;
    width: 30px !important;
    height: 30px !important;
}