/*REGISTRATION AND LOGIN PAGE*/



h1{
text-align: center;
}

body {
    background-color: blueviolet;
}

.register { 
   width: 360px;
   height: 400px;
   background: #fff; 
   margin: 8% auto;
   border-radius: 5px;
   position: relative;
   padding-top: 50px; /* Adds space above form to make sure step bar is visible */
   overflow: hidden;

}

.register form{
    width: 280px;
    position: absolute;
    top: 100px;
    left: 40px;
    transition:0.5s;
}

.input-field {
 display: block;   
 margin: 0 auto;   
 height: 75px;
 width: 250px;
 border-radius: 25px;
 font-size: xx-large;
 text-align: center;
}

::placeholder {
text-align: center;
font-size: xx-large;
}

.btn-register, .btn-login , .lnk-login{
    display: block;
    margin: 0 auto;
    font-size: xx-large;
    border-radius: 10px;
    cursor: pointer;
}

.btn-box{
    width: 100%;
    margin: 30px auto;
    text-align: center;
}

form button {
    width: 110px;
    height: 35px;
    margin: 0 10px;
    background: linear-gradient(to right,#ff105f,#ffad06);
    border-radius: 30px;
    border: 0;
    outline: none;
    color:#fff;
    cursor: pointer;
}

#form2{
    position: relative;
    left: 50px;
    margin-right: 0;
}

.step-row{
    width: 360px;
    height: 40px;
    margin: 0 auto;
    display:flex;
    align-items: center;
    box-shadow: 0 -1px 5px -1px #000;
    position: relative;
}

.step-col{
    width: 120px;
    text-align: center;
    color: #333;
    position: relative;
}

#progress{
    position: absolute;
    height: 100%;
    width: 120px;
    background: linear-gradient(to right,#ff105f,#ffad06);
}

#progress::after {
    content: '';
    height: 0;
    width: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    right: -20px;
    top: 0;
    border-left: 20px solid #ffad06;
    transition: 1s;
}


#image {
    display: block;   
    position: relative;
    bottom: 55px;
    left: 830px;
    width: 30px;
    height: 30px;
}