{% extends 'base.html' %}

{% block head %}
<title>Chatrooms</title>
{% block extra_styles %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock %}

{% endblock %}


{% block style %}
.chatroom-card{
    margin: 0 auto; 
    border: 1px solid #ccc; 
    border-radius: 10px; 
    overflow: hidden; 
    transition: transform 0.2s; 
    width: 200px; 
    margin-right: 50px;
    margin-bottom: 30px;
}

.chatroom-image{
    width: 100%; 
    height: 150px; 
    object-fit: cover;
}

body{
    background-image: url('https://media.giphy.com/media/6FjaNxfq8vHSQI0aVm/giphy.gif');
    background-size: 200px; /* Use the original image size */
    background-repeat: repeat; /* Repeat both horizontally and vertically */
    background-position: top left; /* Start repeating from the top left corner */
    height: 100vh; /* Ensure the body height covers the full viewport */
    margin: 0; /* Remove default margins */
    padding: 0; /* Remove default padding */
}

.chatroom-card{
    background-color: white;
}

h2 span{
    background-color: white ; 
    border-radius: 10px; 
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
}

.p-3{
    font-family: Verdana, sans-serif;
    color: 	#0086ad;
}

.text-center{
    font-weight: bold;
}

li a:hover{
    color: #005582;
}

{% endblock %}

{% block body %}
<div class="container; bg-dark" style="padding-top:10px; padding-bottom:10px">
    <div class="pg-header;">
        <h1 style="text-align:center; font-family: 'Trebuchet MS', sans-serif" class="display-3 text-white"><strong>MMUsic</strong></h1>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="font-family: Verdana, sans-serif;">
    <a class="navbar-brand" href="#">MMUsic</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="list-group list-group-horizontal list-unstyled">
            <li class="active">
                <a class="nav-link" href="http://127.0.0.1:5000/chats">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for("profile" )}}" >Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for("logout" )}}">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<h2 style="text-align: center; margin-top: 15px; margin-bottom: 15px; color: #343a40; font-family: 'Trebuchet MS', sans-serif"><span><strong>Chatrooms</strong></span></h2>

<div class="container">
    <div class="row">
        <div class="chatroom-card">
            <a href="{{ url_for('chat', chatroomID=1) }}">
                <img src="static/images/powerup.jpg" alt="Chatroom 1" class="chatroom-image">
                <div class="p-3">
                    <h5 class="text-center">Power Up</h5>
                    <p>Let’s lift each other up by sending motivation lyrics/titles!!</p>
                </div>
            </a>
        </div>
        <div class="chatroom-card">
            <a href="{{ url_for('chat', chatroomID=2) }}">
                <img src="static/images/tears.jpeg" alt="Chatroom 2" class="chatroom-image">
                <div class="p-3">
                    <h5 class="text-center">Tears Collections</h5>
                    <p>Share and connect through sad songs, lyrics, and your heartfelt moments</p>
                </div>
            </a>
        </div>
        <div class="chatroom-card">
            <a href="{{ url_for('chat', chatroomID=3) }}">
                <img src="static/images/love-wallpaper.jpg" alt="Chatroom 3" class="chatroom-image">
                <div class="p-3">
                    <h5 class="text-center">Lovers</h5>
                    <p>A cozy space for romance and love stories <3</p>
                </div>
            </a>
        </div>
        <div class="chatroom-card">
            <a href="{{ url_for('chat', chatroomID=4) }}">
                <img src="static/images/party.jpeg" alt="Chatroom 4" class="chatroom-image">
                <div class="p-3">
                    <h5 class="text-center">Party O'Clock</h5>
                    <p>It's party time!!</p>
                </div>
            </a>
        </div>
        <div class="chatroom-card">
            <a href="{{ url_for('chat', chatroomID=5) }}">
                <img src="static/images/gym.jpg" alt="Chatroom 5" class="chatroom-image">
                <div class="p-3">
                    <h5 class="text-center">Sweat Squad</h5>
                    <p>Let’s support each other in reaching our fitness goals and breaking a sweat together!</p>
                </div>
            </a>
        </div>
        <div class="chatroom-card">
            <a href="{{ url_for('chat', chatroomID=6) }}">
                <img src="static/images/chillax.jpeg" alt="Chatroom 6" class="chatroom-image">
                <div class="p-3">
                    <h5 class="text-center">Chillax</h5>
                    <p>Just chill and relax here!!</p>
                </div>
            </a>
        </div>
        <div class="chatroom-card">
            <a href="{{ url_for('chat', chatroomID=7) }}">
                <img src="static/images/studyroom.jpg" alt="Chatroom 7" class="chatroom-image">
                <div class="p-3">
                    <h5 class="text-center">Study Room</h5>
                    <p>shhhh...</p>
                </div>
            </a>
        </div>
        <div class="chatroom-card">
            <a href="{{ url_for('chat', chatroomID=8) }}">
                <img src="static/images/coding.jpg" alt="Chatroom 8" class="chatroom-image">
                <div class="p-3">
                    <h5 class="text-center">Coding Space</h5>
                    <p>Hello, world</p>
                </div>
            </a>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
<script src="{{ url_for('static', filename='chat.js') }}"></script>
{% endblock %}