{% extends"base.html" %} 

{% block body%} 

<div class="register">
    <h1>Register</h1>
  <form id="register_form" action="{{url_for("register")}}" method="post" >
    <input type="text" name="username_register" placeholder="username" class="input-field" required autofocus>
    <br>
    <input type="password" name="password_register" placeholder="password" id= "ps" class="input-field" required autofocus>
    <input type="image" src="https://www.svgrepo.com/show/453442/visibility-off.svg" onclick="see_ps();return false;" id="image" >

    <div class="btn-box">
      <button type="button">Next</button>
    </div>


    <form id="form2" action="{{url_for("register")}}" method="post" >
    <h1>Profile setup</h1>  
    <input type="text" name="username_register" placeholder="username" class="input-field" required autofocus>
    <br>
    <input type="password" name="password_register" placeholder="password" id= "ps" class="input-field" required autofocus>
    <input type="image" src="https://www.svgrepo.com/show/453442/visibility-off.svg" onclick="see_ps();return false;" id="image" >

    <div class="btn-box">
      <button type="button">Back</button>
      <input type="submit"  value="register" class="btn-register"/>
    </div>
  </form>
  
  <div class="step-row">
    <div class="stwp_col"><small>Step 1</small></div>
    <div class="stwp_col"><small>Step 2</small></div>
  </div>
    
  <a href="{{url_for("login")}}" class="lnk-login">Already have an account? Login !</a>
</div>

 <script>
  function see_ps(){
    var y=document.getElementById("image")
    var x= document.getElementById("ps");
    if (x.type=="password") {
      x.type="text"; 
      y.src="https://www.svgrepo.com/show/453440/visibility.svg"; }
      else 
      { x.type="password";
        y.src="https://www.svgrepo.com/show/453442/visibility-off.svg";           }  
    } 
  </script>
  
{% endblock %} 