{% extends"base.html" %} 

{% block body%} 

<div class="container">
    <h1>Welcome</h1>
  <form id="auth-form" action="{{url_for("login")}}" method="post"> <!--send info to db a post method-->
    <input type="text" name="username" placeholder="username" class="input-field">
    <input type="password" name="password" placeholder="password" class="input-field">
    <input type="submit" value="login" class="btn btn-login"/>
    <input type="button"  value="register" class="btn btn-register"/>
 </form>
</div>

{% endblock %} 