{% extends "base1.html"%}
{% block body_class %}login-bg{% endblock %}

{% block body%}

{% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        
          {% for category, message in messages %}
            <p class="{{ category }}">{{ message }}</p>
          {% endfor %}
        
      {% endif %}
    {% endwith %}

<div class="login">
<h1> Login</h1>
<form id="auth-form" action="{{url_for("login")}}" method="post"> <!--send info to db a post method-->
    <input type="text" name="username" placeholder="username" class="input-field" required autofocus>
    <br>
    <input type="password" name="password" placeholder="password" id="ps" class="input-field" required autofocus>
    <input type="image" src="https://www.svgrepo.com/show/453442/visibility-off.svg" onclick="see_ps();return false;" id="lgimage"> 
    <input type="submit" value="login" class="btn-login"/>
 </form>
</div>
 
<script>
  function see_ps(){
    var y=document.getElementById("lgimage")
    var x= document.getElementById("ps");
    if (x.type=="password") {
      x.type="text"; 
      y.src="https://www.svgrepo.com/show/453440/visibility.svg"; }
      else 
      { x.type="password";
        y.src="https://www.svgrepo.com/show/453442/visibility-off.svg";           }  
    } 
    </script>

{% endblock %}